html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 100%;
	line-height: 1.65;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.primary-heading {
	text-align: center;
}

.secondary-heading {
	line-height: 1.25;
}

.secondary-heading a {
	text-decoration: none;
}

.image {
	margin: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	overflow: hidden;
}

.wrap {
	max-width: 75rem;
	padding: 1rem;
	margin: 0 auto;
	columns: 4 auto;
}

.article-buttons {
	max-width: 75rem;
	margin: 0 auto 2rem;
	padding: 0 1rem;
	text-align: center;
}

.button {
	background-color: #fff;
	border: 2px solid #222;
	padding: 1rem 2rem;
	margin: 0;
	cursor: pointer;
	transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

@media (max-width: 768px) {
	.button {
		display: block;
		width: 100%;
		margin: 1rem 0;
	}
}

.button.active,
.button:hover,
.button:active,
.button:focus {
	background-color: #222;
	color: #fff;
}

.article-item {
	break-inside: avoid;
	padding-bottom: 2rem;
}

.article-wrap {
	padding: 1rem;
	border: 1px solid #eaeaea;
	border-bottom: 4px solid #eaeaea;
}

@media (max-width: 960px) {
	.wrap {
		columns: 2 auto;
	}
}

@media (max-width: 600px) {
	.wrap {
		columns: 1 auto;
	}
}

.article-category {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

.footer p {
	text-align: center;
}
